@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --primary: #f35525;
  --secondary: #1e1e1e;
  --light-bg: #f1f0fe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-bg: var(--light-bg);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}